# Merging Columns from Separate Datasets

In [1]:
import pandas as pd
df1 = pd.read_csv("./dataset/04_experience.csv")
df2 = pd.read_csv("./dataset/05_person_skills.csv")


merged_df = pd.merge(df1, df2, on="person_id", how="outer")

In [2]:
merged_df.drop(columns=["location", "firm"], inplace=True)
merged_df.head()

,person_id,title,start_date,end_date,skill
0,1,Database Administrator,04/2017,Present,Database administration
1,1,Database Administrator,04/2017,Present,Database
2,1,Database Administrator,04/2017,Present,Ms sql server
3,1,Database Administrator,04/2017,Present,Ms sql server 2005
4,1,Database Administrator,04/2017,Present,Sql server

In [6]:
# If any skill is a string, convert it to a list
merged_df["skills"] = merged_df["skill"].apply(lambda x: x if isinstance(x, list) else [x])

In [7]:
group_cols = ["person_id", "title", "start_date", "end_date"]
df_jobs = merged_df.groupby(group_cols)["skills"].agg(lambda lists: [skill for sublist in lists for skill in sublist]).reset_index()

In [8]:
df_jobs.head()

,person_id,title,start_date,end_date,skills
0,1,Database Administrator,01/2014,02/2017,"[Database administration, Database, Ms sql ser..."
1,1,Database Administrator,04/2017,Present,"[Database administration, Database, Ms sql ser..."
2,2,Database Administrator,12/2008,08/2011,"[sql server management studio, visual studio, ..."
3,3,Oracle Database Administrator,06/2014,06/2016,"[DATABASES, ORACLE (4 years), ORACLE 10G, SQL,..."
4,3,Oracle Database Administrator,06/2016,Present,"[DATABASES, ORACLE (4 years), ORACLE 10G, SQL,..."

In [9]:
df_jobs.to_csv("merged_jobs.csv", index=False)